@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
:root {
    --soft-red: hsl(7, 99%, 70%);
    --opacity-soft-red: hsl(7, 99%, 70%, .5);
    --yellow: hsl(51, 100%, 49%);
    --opacity-yellow: hsl(51, 100%, 49%, .5);
    --dark-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-greyish-blue: hsl(213, 9%, 39%);
    --dark-greyish-blue: hsl(232, 10%, 55%);
    --blue-gray: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    --barlow: 'Barlow', sans-serif;
    --fraunces: 'Fraunces', serif;
}

body {
    margin: 0;
    font-size: 18px;
}

.container {
    display: grid;
    min-height: 100vh;
    min-width: 100%;
}

.header {
    background-image: url('./images/image-header.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    font-family: var(--barlow);
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 35%;
    color: var(--white);
}

nav li {
    list-style-type: none;
}

nav li a {
    text-decoration: none;
    color: var(--white);
    padding: 15px;
    border-radius: 50px;
}

#desktop-menu li:nth-child(4) a {
    background-color: var(--white);
    color: var(--dark-blue);
    font-family: var(--fraunces);
}

#desktop-menu li:nth-child(4) a:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--white);
}

#hamburguer-mobile {
    display: none;
}

#toggle-menu {
    display: none;
    position: absolute;
    top: 10vh;
    right: 5%;
    left: 5%;
    width: 90%;
    min-height: 50vh;
    background-color: var(--white);
    border-radius: 5px 0px 5px 5px;
    transition: all 5000ms;
}

#triangle-bottomright {
    position: absolute;
    top: calc(10vh - 100px);
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 100px solid var(--white);
    border-left: 100px solid transparent;
}

#toggle-menu ul {
    flex-flow: column;
    height: 45vh;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    width: 100%;
}

#toggle-menu ul a {
    color: var(--blue-gray);
}

#toggle-menu ul li:nth-child(4) a {
    background-color: var(--yellow);
    color: var(--very-dark-desaturated-blue);
}

.header h1 {
    text-align: center;
    word-spacing: 0.2em;
    color: var(--white);
    font-family: var(--fraunces);
    font-size: 3em;
}

#arrow-down {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.body-article {
    font-family: var(--fraunces);
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 18px;
}

.text {
    margin: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: baseline;
    text-align: left;
}

.body-article h2 {
    color: var(--very-dark-desaturated-blue);
    font-weight: 900;
}

.body-article p {
    color: var(--dark-greyish-blue);
    font-family: var(--barlow);
}

.body-article a {
    color: var(--very-dark-desaturated-blue);
}

#red-anchor, #yellow-anchor {
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#yellow-anchor:after {
    background-color: var(--opacity-yellow);
}

#red-anchor:after {
    background-color: var(--opacity-soft-red);
}

#red-anchor:after, #yellow-anchor::after {
    content: "";
    position: absolute;
    height: 35%;
    border-radius: 50px;
    left: -5px;
    right: -5px;
    bottom: 0px;
    z-index: -1;
    transition: all 500ms;
}

#yellow-anchor:hover:after {
    background-color: var(--yellow);
}

#red-anchor:hover:after {
    background-color: var(--soft-red);
}

.body-article img, .gallery img {
    width: 100%;
    object-fit: cover;
}

.reverse-image {
    grid-column: 1 / 2;
    grid-row: 1;
}

.information-image {
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 50px;
    padding-right: 25%;
    padding-left: 25%;
    background-position: top;
    height: 37.5rem;
}

.cherry {
    background-image: url('images/image-graphic-design.jpg');
    color: var(--dark-cyan);
}

.orange {
    background-image: url('images/image-photography.jpg');
    color: var(--dark-blue);
}

.testimonials {
    padding: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    gap: 30px;
    text-align: center;
}

.testimonials h4 {
    grid-column: 1 / -1;
    margin: 0;
    color: var(--blue-gray);
    font-family: var(--fraunces);
}

.testimonial-block {
    font-family: var(--barlow);
    color: var(--dark-greyish-blue);
}

.testimonial-block img {
    border-radius: 50%;
    width: 70px;
}

.testimonial-block h4 {
    color: var(--very-dark-desaturated-blue);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer {
    background-color: var(--dark-moderate-cyan);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0 5% 0;
}

.footer ul {
    display: flex;
    list-style-type: none;
    font-family: var(--barlow);
}

.footer li {
    margin-right: 30px;
}

.footer li a {
    text-decoration: none;
    color: var(--very-dark-desaturated-blue);
}

.footer li a:hover {
    color: var(--white);
}

#logo-sunnyside-footer {
    fill: var(--dark-cyan);
}

.social-media {
    display: flex;
}

.social-media li a:hover path {
    fill: var(--white);
}

.open-menu-mobile {
    display: inline-block !important;
}

@media all and (max-width: 768px) {
    nav {
        justify-content: space-between;
        padding: 0 5%;
    }
    #hamburguer-mobile {
        display: inline-block;
    }
    #hamburguer-mobile:hover {
        cursor: pointer;
    }
    #desktop-menu {
        display: none;
    }
    .body-article {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .text {
        margin: 5%;
        text-align: center;
        align-items: center;
    }
    .body-article img {
        grid-row: 1;
    }
    .information-image {
        padding-bottom: 5%;
    }
    .testimonials {
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(3, 1fr);
    }
    .gallery {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}